* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
header {
  background-image: url(../sourse/navbackground.svg);
  display: flex;
  align-items: center;
  div.logo {
    display: flex;
    align-items: center;
    flex: 5 1 400px;
  }
  nav {
    flex: 2 1 400px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        a {
          color: rgba(255, 237, 71, 0.938);
          text-decoration: none;
          font-size: 1.6rem;
          align-items: center;
          img {
            padding: 0.2rem;
            width: 3vw;
            height: 3vw;
          }
        }
      }
    }
  }
}
main {
  margin: 0;
  padding: 0;
  background-image: url(../sourse/background.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  div.left {
    margin: 6vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sliders {
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
    overflow: hidden;
  }
  .slides {
    width: 500%;
    height: 500px;
    display: flex;
  }
  .slides input {
    display: none;
  }
  .slide {
    width: 20%;
    transition: 2s;
  }
  .slide img {
    width: 50vw;
    height: 60vh;
  }

  /*css for manual slide navigation*/

  .navigtion-manual {
    position: absolute;
    width: 50vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }
  .manual-btn {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }
  .manual-btn:hover {
    background: none;
  }

  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -20%;
  }
  #radio3:checked ~ .first {
    margin-left: -40%;
  }
  #radio4:checked ~ .first {
    margin-left: -60%;
  }

  /*css for automatic*/
  .navigation-auto {
    position: absolute;
    display: flex;
    width: 50vw;
    justify-content: center;
    margin-top: 56.3vh;
  }
  .navigation-auto div {
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  .navigation-auto div:not(:last-child) {
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1 {
    background: whitesmoke;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2 {
    background: whitesmoke;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3 {
    background: whitesmoke;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4 {
    background: whitesmoke;
  }

  div.right {
    margin: 0;
    padding: 1rem;
    box-sizing: 0;
    margin-left: 50px;
    width: 30vw;
    justify-content: center;
    align-items: center;

    table {
      border-collapse: collapse;
      tr {
        border-bottom: 2px solid gray;
        td.newstitle {
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          color: rgb(211, 0, 0);
        }
        td.newslink {
          width: 20vw;
          font-size: 1.2rem;
          justify-content: space-around;
          padding-left: 10px;
          a {
            color: black;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        td.date {
          justify-content: space-around;
          font-size: 0.6rem;
          padding-right: 20px;
        }
      }
    }
    div.googlemap {
      margin-top: 10vh;
      iframe {
        width: 30vw;
        height: 30vh;
        border-radius: 10%;
      }
    }
  }

  div.about {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      align-items: center;
      justify-content: center;
    }
  }

  div.menulist {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
footer {
  background-image: url(../sourse/navbackground.svg);
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  div {
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: whitesmoke;
  }
  img.logo {
    width: 4vw;
    height: 4vw;
  }
  img {
    margin-left: 10px;
    width: 2vw;
    height: 2vw;
  }
}
