* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  background-image: url(../sourse/navbackground.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 400px;
          flex: 5 1 400px;
}

header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li a {
  color: rgba(255, 237, 71, 0.938);
  text-decoration: none;
  font-size: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li a img {
  padding: 0.2rem;
  width: 3vw;
  height: 3vw;
}

main {
  margin: 0;
  padding: 0;
  background-image: url(../sourse/background.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  /*css for manual slide navigation*/
  /*css for automatic*/
}

main div.left {
  margin: 6vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sliders {
  width: 50vw;
  height: 60vh;
  border-radius: 10px;
  overflow: hidden;
}

main .slides {
  width: 500%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .slides input {
  display: none;
}

main .slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

main .slide img {
  width: 50vw;
  height: 60vh;
}

main .navigtion-manual {
  position: absolute;
  width: 50vw;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .manual-btn:not(:last-child) {
  margin-right: 40px;
}

main .manual-btn:hover {
  background: none;
}

main #radio1:checked ~ .first {
  margin-left: 0;
}

main #radio2:checked ~ .first {
  margin-left: -20%;
}

main #radio3:checked ~ .first {
  margin-left: -40%;
}

main #radio4:checked ~ .first {
  margin-left: -60%;
}

main .navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 56.3vh;
}

main .navigation-auto div {
  border: 2px solid whitesmoke;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

main .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

main #radio1:checked ~ .navigation-auto .auto-btn1 {
  background: whitesmoke;
}

main #radio2:checked ~ .navigation-auto .auto-btn2 {
  background: whitesmoke;
}

main #radio3:checked ~ .navigation-auto .auto-btn3 {
  background: whitesmoke;
}

main #radio4:checked ~ .navigation-auto .auto-btn4 {
  background: whitesmoke;
}

main div.right {
  margin: 0;
  padding: 1rem;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  margin-left: 50px;
  width: 30vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.right table {
  border-collapse: collapse;
}

main div.right table tr {
  border-bottom: 2px solid gray;
}

main div.right table tr td.newstitle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #d30000;
}

main div.right table tr td.newslink {
  width: 20vw;
  font-size: 1.2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 10px;
}

main div.right table tr td.newslink a {
  color: black;
  text-decoration: none;
}

main div.right table tr td.newslink a:hover {
  text-decoration: underline;
}

main div.right table tr td.date {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.6rem;
  padding-right: 20px;
}

main div.right div.googlemap {
  margin-top: 10vh;
}

main div.right div.googlemap iframe {
  width: 30vw;
  height: 30vh;
  border-radius: 10%;
}

main div.about {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main div.about img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div.menulist {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-image: url(../sourse/navbackground.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div {
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  color: whitesmoke;
}

footer img.logo {
  width: 4vw;
  height: 4vw;
}

footer img {
  margin-left: 10px;
  width: 2vw;
  height: 2vw;
}

@media screen and (max-width: 800px) {
  header nav ul li a {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-align: center;
  }
  main {
    display: flow-root;
  }
  main .sliders {
    width: 85vw;
    height: 60vh;
  }
  main .slide img {
    width: 85vw;
    height: 60vh;
  }
  main div.right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main div.right div.news {
    margin-top: -10vh;
  }
  main div.right div.googlemap {
    margin-top: 0;
    margin-left: 10vw;
  }
}
/*# sourceMappingURL=style.css.map */